 <video class="background1" mute="1" loop="" aria-flowto="hype-obj-wgp3WlIFSutvPTVg" autoplay="" style="pointer-events: auto; position: absolute; overflow: visible; z-index: -1; width: 1663; height: 935;top: -49px; left: -197px; "><source src="  https://s3-ap-northeast-1.amazonaws.com/sportslinkpj/video/sportslink.mp4" type="video/mp4"></video>

<div class="centered", style="z-index: 1">
  <div class="row"> 
    <div class="logo">
      <img src="/images/icon.png" alt="Sports Link Logo"/>
    </div>
    
    <div>
      <h2 class="white">註冊</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        
        <div class="field">
          <%= f.label :信箱, :class => "white" %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :密碼, :class => "white" %>
          <% if @minimum_password_length %>
            <em class="white">( 至少<%= @minimum_password_length %>位 )</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :確認密碼, :class => "white" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="actions col-sm-12 col-xs-12 col-md-12">
        <%= f.submit "註冊", :class => "btn btn-default" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>

