<div class="smallmap">
  <%= render :partial => "/events/mapjs" %>
</div>

<div>
  <p>
    Confirmed! 已經新增成功了！
  </p>
</div>
<p>
活動信息:
<br>
  <div><h3>活動開始時間：<%= (@event.start_at + 3600 * 8 ).strftime("%H:%M") %></h3></div>
  <div><h5>活動結束時間：<%= (@event.end_at + 3600 * 8 ).strftime("%H:%M") %></h5></div>
<hr>

場地資料:
<br>
  <div>
    <h2><%= @place.name %></h2>
    <h3><%= link_to @place.address_components, "link to googlemap routes" %></h3>
    <h4>距離：<%= params[:distance] %></h4>
  </div>
</p>

<% if @event.characteristic_of_user? %>
  <h4>特徵：<%= @event.characteristic_of_user %></h4>
<% end %>  

<div class="button-1 centered" >
  <%= link_to '首頁', root_path %>
</div>