<div class="smallmap">
  <%= render :partial => "/events/map_create", locals: {place: @place} %>
</div>

<div>
  <p>
    Confirmed! 已經新增成功了！
  </p>
</div>
<p>
  活動信息:
  <br>
  <div>
    <h3>活動開始時間：<%= @event.start_at.strftime("%H:%M") %></h3>
  </div>
  <div>
    <h5>活動結束時間：<%= @event.end_at.strftime("%H:%M") %></h5>
  </div>
  <hr>

  場地資料:
  <br>
  <div>
    <% if @place.address_components.present? %>
      <h2><%= @place.name %></h2>
      <h3>
        <%= link_to @place.address_components, 'http://maps.google.com/?q=' + @place.address_components %>
      </h3>
    <% else %>
      <h3>
        <%= link_to @place.name, 'http://maps.google.com/?q=' + @place.name %>
      </h3>
    <% end %> 
    <h4>距離：<%= params[:distance] %>公尺</h4>
  </div>
</p>

<% if @event.characteristic_of_user? %>
  <h4>主辦者的特徵：<%= @event.characteristic_of_user %></h4>
<% end %>  

<div class="button-1 centered" style="margin-top: 5vh">
  <%= link_to '首頁', root_path %>
</div>