<p>
  this create event after success
</p>

<p>
event informations:
<br>
    <br>
    <div>活動開始時間：<%= @event.start_at%></div>
    <div>活動結束時間<%= @event.end_at %></div>
  <br><br><hr>

place informations:
<br>
  <%= @place.name %>
  <%= @place.address_components %>
  <%= @place.quality %>
</p>

<p>
  distance:
  <%= params[:distance] %>
</p>

<%= link_to '首頁', root_path %>