<div class="container content">
	<div class="row">
		<div class="col-sm-2 col-md-2 col-xs-2"><h3>
			<%= link_to "<", :back %></h3>
		</div>

		<div class="col-sm-8 col-md-8 col-xs-8 centered">
			<div><h3><%= link_to "<", "/day_before" %>   Today  <%= link_to ">", "/day_after" %></h3></div>	
		</div> 
		
		<nav class="open col-md-2 col-sm-2 col-xs-2">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">about</a></li>
				<li><a href="#">contact</a></li>	
			</ul>
		</nav>

		<div id="menu-trigger">
			<img class="hamburger" src="images/menu.png" alt="trigger">
		</div>
	</div>	
	
	<div class="row">
		<div class="place_detail col-md-4 col-sm-4 col-xs-4">
			<div>
				<img src="http://placehold.it/100x100" alt="revenue image">
				<%#= @place.image %>
			</div>
		</div>

		<div class=" col-md-8 col-sm-8 col-xs-8">
			<div>	
				<%= @place.name %>		
			</div>

			<div><%#= @place_location_distance_from_user %>0.2Km away</div>
			<div>
				Ratings: <%= rating_for @place, "quality", enable_half: true %>
  		</div>
		</div>
		<div class="clearfix"></div>	
		<hr>
		<div><%#= @place.nearby_store %></div>
	</div>

	<div><h4>Join Games</h4></div>
	<ul class="events centered list-group">
		<% @events.each do |event| %>
			<li class="list-group-item">
				<span class="pull-left">
					<%= event.start_at.strftime('%H:%M') %>		
				</span>

				<span class="tag tag-info tag-pill float-xs-right">
					1.5hr
				</span>
				<%#= event.duration %>
				<span class="pull-right">
					<%= link_to "Join", "#" %>		
				</span>
			</li>
		<% end %>	
	</ul>	

		<% if @events.count <= 4 %>
			<div>
				<%= button_to "Create Event", Event.new %>	
			</div>
		<% end %>	
</div>

<script>
$(document).on('ready', function(){
    $('#input-3').rating({displayOnly: true, step: 0.5});
});

$(document).ready(function() {
    
    $('#menu-trigger').click(function(){
        $('nav').toggleClass('open');
    });

});
</script>