<div><%= link_to '<', :back %></div>
<div><button>Today</button></div>

<div><%#= @event.place.image %></div>
<div><%= @place.name %></div>

<div><%#= @event.location_distance - user.current_location %></div>

<div><%#= @place.rating%></div>
<hr>
<div><%#= @place.nearby_store %></div>

<div><h4>Join Games</h4></div>

<% @events.each do |event| %>
	<div>
		<%= event.start_at %>
		<%= event.duration %>
		<%= link_to "Join", "#" %>
	</div>
<% end %>	
