<% google_config = Rails.application.config_for(:google) %>
<div class="container content">
	<div class="row">
		<div class="col-sm-2 col-md-2 col-xs-2"><h3>
			<%= link_to "<", :back %></h3>
		</div>

		<div class="col-sm-8 col-md-8 col-xs-8 centered">
			<div><h3><%= link_to "<", "/day_before" %>   Today  <%= link_to ">", "/day_after" %></h3></div>	
		</div> 
		
		<nav class="open col-md-2 col-sm-2 col-xs-2">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">about</a></li>
				<li><a href="#">contact</a></li>	
			</ul>
		</nav>

		<div id="menu-trigger">
			<img class="hamburger" src="images/menu.png" alt="trigger">
		</div>
	</div>	
	<div class="row">
		<div class="place_detail col-md-4 col-sm-4 col-xs-4">
			<div>
				<img src="https://maps.googleapis.com/maps/api/streetview?size=100x100&location=<%= @place.latitude %>,<%= @place.longitude %>&pitch=-0.76&key=<%=google_config["app_id"]%>" alt="revenue image">
			</div>
		</div>

		<div class=" col-md-8 col-sm-8 col-xs-8">
			<div>	
				<%= @place.name %>		
			</div>

			<div><%#= @place_location_distance_from_user %>0.2Km away</div>
		</div>
		<div class="clearfix"></div>	
		<hr>
		<div><%#= @place.nearby_store %></div>
	</div>
	
	<%= form_for @event, :url => events_path do |f| %>
		<%= f.datetime_field(:start_at,:default => {:start_at => Time.now}) %>
		<!-- hidden value for self.place and current.user. -->
		<select class="selectpicker" data-live-search="true">
		<%= f.select :end_at, [['1 Hour',60],['1.5 Hours',90],['2 Hours',120],['2.5 Hours',150],['3 Hours',180],['3.5 Hours',210],['4 Hours',240]] %></select>
		<%=  f.submit "Create" %>
	<% end %>

</div>

<script>
	$(document).on('ready', function(){
	  $('#input-3').rating({displayOnly: true, step: 0.5});
	});
	$(document).ready(function() {
	  $('#menu-trigger').click(function(){
	    $('nav').toggleClass('open');
	  });
	});

</script>
