<% google_config = Rails.application.config_for(:google) %>
<% distance, date, place_id, event = params[:distance], params[:date], @place.place_id, @event %>

<div class="container content">
  <div>
    <%= render :partial => "/layouts/navbar" %>
  </div>
	<div class="clear-fix"></div>
  <div id="day_selection">
    <%= render :partial => "/places/day_selection", :locals => { distance: distance, date: date, place_id: place_id, action: "new_event"} %>
  </div> 
	<hr>
	<div class="row">
		<div class="place_detail col-md-4 col-sm-4 col-xs-4">
			<div>
				<img src="https://maps.googleapis.com/maps/api/streetview?size=100x100&location=<%= @place.latitude %>,<%= @place.longitude %>&pitch=-0.76&key=<%=google_config["app_id"]%>" alt=<%= @place.name %>>
			</div>
		</div>
		<div class=" col-md-8 col-sm-8 col-xs-8">
			<div>	
				<h2>
					<%= @place.name %>		
				</h2>	
			</div>
			<div>
        <% if distance.to_i > 1000 %>
          距離約<%= (distance.to_i/1000).round(2) %>公里
        <% else %>
          距離約<%= distance %>公尺
        <% end %>
      </div>
		</div>
		<div class="clearfix"></div>
		<hr>
	</div>
  <div id="form_for_new_event">
	 <%= render :partial => "form_for_new_event", :locals => {event: event, distance: distance, date: date, place_id: place_id} %> 
  </div>
</div>

