<% if @place.present? %>
  <% if @event.present? %>
    <div class="col-md-12 col-xs-12 col-sm-12">
      <div class="button-1 centered">
        <%= link_to '加入', event_path(@event, :place_id => @place.place_id, :date => date, :distance => distance), id: "join_event_link", method: "PATCH" %>
      </div>  
    </div>    
    <div class="pull-right">
      <%= (@event.start_at + 3600 * 8 ).strftime("%H:%M") %>
    </div>

  <% else %>
    <div class="col-sm-12 col-xs-12 col-md-12">
      <div class="col-sm-12 col-xs-12 col-md-12">
        <div class="button-1 centered">
          <%= link_to '主辦', new_event_path(:place_id => @place.place_id, :date => date, :distance => distance), id: "host_event_link" %>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="no-events">
        <% case date %>
        <% when 'day_after' %>
          <div class="pull-right">
            <%= '後天還沒有活動' %>
          </div>
        <% when 'tomorrow' %>
          <div class="pull-right">
            <%= '明天還沒有活動' %>
          </div>  
        <% else %>
          <div class="pull-right">
            <%= '今天已經沒有活動了' %>
          </div>  
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
