<ul class="events centered list-group">
  <% events.each do |event| %>
    <li class="list-group-item" id="event_<%= event.id %>">
      <span class="pull-left">
        <%= event.start_at.strftime('%H:%M') %>   
      </span>
      <span class="tag tag-info tag-pill float-xs-right">
        <%= show_duration(event) %>
      </span>
      <span class="pull-right">
        <% if attended_events.include?(event) %>
          <%= link_to '', quit_event_users_path(event_id: event.id, :place_id => place_id, :date => date, :distance => distance), :class => "glyphicon glyphicon-minus", :method => 'delete', style: "color: rgba(33,33,33,.3)", :remote => true %>
        <% else %>
          <%= link_to '', join_event_path(event, :place_id => place_id, :date => date, :distance => distance), class: "glyphicon glyphicon-plus", method: "post", style: "color: #BF0000;opacity: 0.65;" %>
        <% end %>
      </span>
    </li>
  <% end %> 
</ul>